# =========================
# OS
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# =========================
# Visual Studio
# =========================
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
out/

# =========================
# ASP.NET / Blazor
# =========================
wwwroot/dist/
wwwroot/_framework/
wwwroot/service-worker.js
wwwroot/service-worker.published.js

# =========================
# Logs
# =========================
*.log

# =========================
# EF Core
# =========================
Migrations/*.cs
!Migrations/*ContextModelSnapshot.cs
*.db
*.db-shm
*.db-wal

# =========================
# Secrets & Settings
# =========================
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
appsettings.json
secrets.json

# =========================
# User specific files
# =========================
*.userprefs

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg
.nuget/

# =========================
# DevExpress / XAF
# =========================
*.xafml
*.xaf
*.xafcache

# =========================
# Publish
# =========================
publish/
*.Publish.xml
*.pubxml
*.pubxml.user



# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.bak
*.swp
*.json

